{{> welcome-menu active="about"}}

<div class="title p-3">
    <div class="ml-4">Playtime: Organise and manage your music</div>
</div>
<div class="box is-grouped-centered">
    <div class="field is-grouped is-grouped-centered ">
        <i style="font-size: 100px; color: rgba(255, 136, 0, 0.948);" class="fas fa-music"></i>
        <i style="font-size: 30px; color: Blue;" class="fas fa-plus"></i>
        <i style="font-size: 100px; color: rgb(255, 225, 0);" class="fas fa-headphones"></i>
    </div>
</div>